body {
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
}

/* Variável de cor obrigatória */
:root {
  --color-blue: #1e88e5;
}

/* HEADER */
.header {
  display: flex;
  align-items: center;
  gap: 48px;
}

/* LOGO */
.logo img {
  display: block;
  height: 32px;
}

/* NAV */
.nav-list {
  display: flex;
  gap: 32px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-link {
  display: flex;
  align-items: center;

  height: 48px;
  text-decoration: none;
  color:#000;
  text-transform: uppercase;
  position: relative;
}

/* Hover */
.nav-link:hover {
  color: var(--color-blue);
}

/* Active */
.nav-link.is-active {
  color: var(--color-blue);
}

.nav-link.is-active::after {
  content: '';
  position: absolute;
  bottom: 8px;
  left: 0;

  width: 100%;
  height: 2px;
  background-color: var(--color-blue);
}
